# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = false

# Rules for php files
[*.php]
insert_final_newline = true
indent_size = 4

# Rules for xml files
[*.xml]
indent_size = 4

# Rules for markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 80